<div class="container">

  <div class="text-center">
    <h2>Categories and Hairstyles</h2>
  </div>

  <div class="">
    <h3>Categories</h3>
      <% @categories.each do |c| %>
        <span class = "badge badge-dark p-3 badge-pill m-1"> <%= link_to c.name, hairstyle_category_path(c), style: "color:white;"%> </span>

      <% end %>
      <p><%= link_to("Add a Category", new_hairstyle_category_path)%></p>
  </div>

<hr>

<div class="">

  <h3>Hairstyles</h3>
  <p><%= link_to("Add a Hairstyle", new_hairstyle_path)%></p>


  <table class = 'table table-hover'>

    <tr>
      <th><%= sortable "hairstyle_category_id", "Category" %>
      <th><%= sortable "hairstyle" %></th>
      <th>Action </th>
    </tr>


  <% @hairstyle.each do |h| %>
    <tr>
      <td><%= h.hairstyle_category.name %></td>
      <td><%= h.hairstyle %></td>

      <td><%= link_to("View", hairstyle_path(h))%>
      <%= link_to("Edit", edit_hairstyle_path(h))%>
      <%= link_to("Delete", delete_hairstyle_path(h))%></td>
    </tr>
    <% end %>
  </table>
</div>




</div>
