<div class="container">

  <div class="text-center">
    <h2>Categories and Hairstyles</h2>
  </div>


  <div class="">
    <h3>Categories</h3>
      <% @category.each do |c| %>
        <span class = "badge badge-dark p-3 badge-pill m-1"> <%= c %> </span>

      <% end %>
      <p><%= link_to("Add a Category", new_hairstyle_category_path)%></p>
  </div>
<hr>

<div class="">

  <h3>Hairstyles</h3>
    <p><%= link_to("Add a Hairstyle", new_hairstyle_path)%></p>
  <table class = 'table table-hover'>

    <tr>
      <th><%= sortable "category" %>
      <th><%= sortable "name" %></th>
      <th>Action </th>
    </tr>


  <% @hairstyle.each do |h| %>
    <tr>
      <td><%= h.category %></td>
      <td><%= h.name %></td>

      <td><%= link_to("View", hairstyle_path(h))%>
      <%= link_to("Edit", edit_hairstyle_path(h))%>
      <%= link_to("Delete", delete_hairstyle_path(h))%></td>
    </tr>
    <% end %>
  </table>
</div>




</div>
