<div class="container">

  <%= link_to("<< Back to Hairstyles", hairstyles_path) %>

  <div>
    <h2>Details of Hairstyles</h2>
  </div>

  <div>
    <%= link_to("Edit", edit_hairstyle_path(@hairstyle))%>,
    <%= link_to("Delete", delete_hairstyle_path(@hairstyle))%><br /><br />
  </div>



      <table class = 'table'>
        <tr>
          <th>Hairstyle:</th>
          <td><%= @hairstyle.name %></td>
        </tr>

        <tr>
          <th>Category:</th>
          <td><%= @hairstyle.category %></td>
        </tr>

        <tr>
          <th>Description:</th>
          <td><%= @hairstyle.style_description %></td>
        </tr>
      </table>
</div>
