<div class = "container">

    <div class = "text-center m-5">
      <h5>Enter Your New Password Below</h5>
    </div>

    <%= form_for @client, :url => client_access_update_password_path(params[:client_id]), :method => :post, class: "form-group text-center" do |f| %>

    <%= error_messages_for(f.object) %>

      <fieldset>
        <div class ='form-group'>
          <label class = 'form-control-label'>Password:</label><span style = "font-size:0.7em;"> (Password must be at least 8 characters and have one number)</span>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class ='form-group'>
          <label class = 'form-control-label'>Confirm Password:</label>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class = "form-group text-center">
          <%= submit_tag("Change Password", class: "btn btn-sm")%>
        </div>

      </fieldset>
    <% end %>

</div>
