
  <div>
    <div class = 'row'>

      <div class = "col-sm-4 text-center" style = "padding: 3px;">
        <h5><%= @client.username.capitalize %></h5>
        <%= image_tag @client.picture.url(:thumb).to_s %>
      </div><!--col-sm-4-->

      <div class = "col-sm-8">
        <table class = "table table-sm  text-center table-hover mt-4">
          <thead>
            <tr>
              <th>Menu</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hairstyle Requests:</td>
              <td><%= link_to('Create', new_request_path)%> - <%= link_to('View', requests_path)%> <span class = "badge badge-primary badge-pill bg-primary "> <%= @client.requests.count %> </span></td>
            </tr>
            <tr>
              <td>Responses to Requests:</td>
              <td><%= link_to('View', requests_path)%> <span class = "badge badge-primary badge-pill bg-primary ">  </span></td>
            </tr>
            <tr>
              <td>Appointments:</td>
              <td> <%= link_to('Create', '#')%> - <%= link_to('View', '#')%> <span class = "badge badge-primary badge-pill bg-primary "> 0 </span></td>
            </tr>
            <tr>
              <td>Messages:</td>
              <td><%= link_to('Create', '#')%> / <%= link_to('View', '#')%> <span class = "badge badge-primary badge-pill bg-primary "> 0 </span></td>
            </tr>
          </tbody>
        </table>
        </div><!-- col-sm-8 -->

    </div><!-- row -->
  </div><!-- client_divs -->


<hr>

<div class = "container text-center">

    <% if @client.stylists.count < 1 %>

        <div class="jumbotron p-4 mt-3 mb-3">
          <div>
            <h1 class="display-4">Stylists You Like</h1>
            <hr class="my-4">
            <p class="lead">Browse through profiles of various stylists registered. The ones you like will appear here.</p>
            <p class="lead">There are no stylists that you like yet!!.</p>
          </div>
        </div>

        <%= button_to "View Stylists", stylists_path, method: :get, class: "btn btn-sm"%>
      </div>

    <% else %>
    <h5 class = "m-3" style = "text-decoration:underline;">Stylists You Like</h5>
      <div class = 'card-group'>
          <% @client.stylists.each do |stylist|%>
          <div class = 'card-body' style = 'width:auto;'>
            <div class = 'card text-center' style = 'width:200px;'>
              <%= render :partial => "stylists/index_stylists", :hmtl => {:multiport => true}, :locals => {:stylist => stylist}%>
                <%= link_to("View Profile", stylist_path(stylist))%>
            </div> <!--card-->
          </div><!--card-body-->
          <% end %>
      </div><!--card-body-->
      <div class = 'text-center m-3'>
        <%= button_to "View Stylists", stylists_path, method: :get, class: "btn btn-sm"%>
      </div>
    <% end %>
    <hr>
</div>

<div class = "container text-center m-3" style = "border-bottom: 1px solid black;">

      <% if @client.styles.count < 1 %>

            <div class="jumbotron p-4 mt-3 mb-3">
              <div>
                <h1 class="display-4">Hairstyles You Like</h1>
                <hr class="my-4">
                <p class="lead">All the Hairstyles that you like for the gallery will appear here</p>
                <p class="lead">Check out the gallery now!!</p>
              </div>
            </div>
            <%= button_to "View Gallery", '#', method: :get, class: "btn btn-sm"%>
          </div>



      <% else %>
      <h5 class = "m-3" style = "text-decoration:underline;">Hairstyles You Like</h5>
        <div class = 'card-group'>
          <% @client.styles.each do |style|%>
          <div class = 'card-body' style = 'width:auto;'>
            <div class = 'card text-center' style = 'width:200px;'>
              <%= render :partial => "styles/index_styles", :html => {:multiport => true}, :locals => {:style => style}%>
              <%= link_to("More Info", show_style_client_path(style,  class: 'card-link'))%>
            </div> <!--card-->
          </div><!--card-body-->

          <% end %>
      </div><!--card-group-->
      <div class = 'text-center m-3'>
        <%= button_to "View Gallery", index_styles_clients_path, method: :get, class: "btn btn-sm mb-1"%>
      </div>
    <% end %>


</div><!--container-->
