
  <div class = 'client_divs'>
    <div class = 'row'>

      <div class = "col-sm-4 text-center" style = "padding: 3px;">
        <%= image_tag @client.picture.url(:thumb).to_s %>
      </div><!--col-sm-4-->

      <div class = "col-sm-8">
        <table class = "table table-sm  text-center table-hover mt-4">
          <thead>
            <tr>
              <th>Create New</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Appointments:</td>
              <td><%= link_to('View', '#')%> <span class = "badge badge-primary badge-pill bg-primary "> 0 </span> / <%= link_to('Create', '#')%></td>
            </tr>
            <tr>
              <td>Messages:</td>
              <td><%= link_to('View', '#')%> <span class = "badge badge-primary badge-pill bg-primary "> 0 </span> / <%= link_to('Create', '#')%></td>
            </tr>
            <tr>
              <td>Reviews:</td>
              <td><%= link_to('View', '#')%> <span class = "badge badge-primary badge-pill bg-primary "> <%= @client.ratings.count %> </span> / <%= link_to('Create', '#')%></td>
            </tr>
            <tr>
              <td>Comments:</td>
              <td><%= link_to('View', '#')%> <span class = "badge badge-primary badge-pill bg-primary "> 0 </span> / <%= link_to('Create', '#')%></td>
            </tr>
          </tbody>
        </table>
        </div><!-- col-sm-8 -->

    </div><!-- row -->
  </div><!-- client_divs -->


<hr>

<div class = "container client_divs">
  <h5 class = "text-center m-3" style = "text-decoration:underline;">Stylists You Like</h5>
    <% if @client.stylists.count < 1 %>
        <div class = "text-center pb-3">
        <p>There are no Stylists that you like yet!!</p>
        <p>All the Stylists that you like will appear here</p>
        <p>Check out the Stylists</p>
        <%= button_to "View Stylists", index_stylists_clients_path, method: :get, class: "btn btn-sm"%>
      </div>

    <% else %>

      <div class = 'card-group'>
          <% @client.stylists.each do |stylist|%>
          <div class = 'card-body' style = 'width:auto;'>
            <div class = 'card text-center' style = 'width:200px;'>
              <%= render :partial => "stylists/index_stylists", :hmtl => {:multiport => true}, :locals => {:stylist => stylist}%>
                <%= link_to("View Profile", show_stylists_client_path(stylist))%>
            </div> <!--card-->
          </div><!--card-body-->
          <% end %>
      </div><!--card-body-->
      <div class = 'text-center m-3'>
        <%= button_to "View Stylists", index_stylists_clients_path, method: :get, class: "btn btn-sm"%>
      </div>
    <% end %>
</div>

<div class = "container client_divs" style = "border-bottom: 1px solid black;">
  <h5 class = "text-center m-3" style = "text-decoration:underline;">Hairstyles You Like</h5>
      <% if @client.styles.count < 1 %>

          <div class = "text-center pb-3">
            <p>There are no Hairstyles that you like yet!!</p>
            <p>All the Hairstyles that you like for the gallery will appear here</p>
            <p>Check out the gallery now</p>
            <%= button_to "View Gallery", index_styles_clients_path, method: :get, class: "btn btn-sm"%>
          </div>

      <% else %>

        <div class = 'card-group'>
          <% @client.styles.each do |style|%>
          <div class = 'card-body' style = 'width:auto;'>
            <div class = 'card text-center' style = 'width:200px;'>
              <%= render :partial => "styles/index_styles", :html => {:multiport => true}, :locals => {:style => style}%>
              <%= link_to("More Info", show_style_client_path(style,  class: 'card-link'))%>
            </div> <!--card-->
          </div><!--card-body-->

          <% end %>
      </div><!--card-group-->
      <div class = 'text-center m-3'>
        <%= button_to "View Gallery", index_styles_clients_path, method: :get, class: "btn btn-sm"%>
      </div>

    <% end %>


</div><!--container-->
