<div class = "container">

  <!-- <% if session[:client_id] %> -->
    <%= button_to("<-Profile", client_path(@client), method: :get, class: "btn btn-sm m-3") %>
  <!-- <% elsif session[:admin_id] %> -->
    <%= button_to("<- Clients", clients_path, method: :get, class: "btn btn-sm m-3") %>
  <!-- <% end %> -->

  <div class = "text-center">
    <h2>Update Profile</h2>
  </div>

    <div class = "form-group">
      <%= form_for(@client) do |c| %>
        <%= render(:partial => 'client_form', :html => {:multiport => true}, :locals => {:c => c}) %>

        <div class = "text-center">
          <%= c.submit "Update Profile", class: "btn btn-sm" %>
        </div>

    <% end %>
  </div><!--form-group-->
</div><!--container-->
