<div class = "container">

  <div class = "btn-group">
    <%= button_to("<< Back to Gallery", index_styles_clients_path(:client_id => current_client.id), method: :get, class: "btn btn-sm btn-secondary m-3") %>
    <%= button_to("<< Back to Profile", client_path(current_client.id), method: :get, class: "btn btn-sm btn-secondary m-3") %>
  </div>

  <%= render(:partial => "styles/show_style", :html => {:multiport => true}, :locals => {:style => @style})%>

  <div class = "btn-group">
    <%= button_to("Like", create_fav_styles_client_path(:client_id => current_client.id, :style_id => @style.id), :method => :post, class: "btn btn-sm btn-outline-warning m-2") %>
    <%= link_to("Dislike", destroy_fav_styles_client_path(:client_id => current_client.id, :style_id => @style.id), :method => :delete, class: "btn btn-sm btn-outline-warning m-2") %>
  </div>
</div>
