<div class="container">

  <%= link_to("<< Back to Hairstyles", hairstyles_path) %>

  <div>
    <h2>Details of Category</h2>
  </div>

  <div>
    <%= link_to("Edit", edit_hairstyle_category_path(@category))%>,
    <%= link_to("Delete", delete_hairstyle_category_path(@category))%><br /><br />
  </div>

      <table class = 'table'>
        <tr>
          <th>Category Name:</th>
          <td><%= @category.name %></td>
        </tr>

        <tr>
          <th>Description:</th>
          <td><%= @category.description %></td>
        </tr>

</div>
