<div class = "container">
  <!-- <div class="media"> -->
  <div class = "row">
    <div class = "col col-md-6 text-center">
      <%= image_tag request.image.url(:display).to_s, class: "align-self-start mr-3" %>
      <!-- <%= image_tag request.image.url(:display).to_s, class: "align-self-start mr-3", style: "width:20%;" %> -->
    </div><!-- col -->

    <div class = "col col-md-6">
        <!-- <div class="media-body"> -->
        <p style = "font-style:oblique;"> <strong><%= request.client.username %></strong>: <%= request.created_at.strftime("%B %d, %Y (%H:%M)") %></p>

          <h5 class="mt-0"><%= request.title %></h5>
          <p> <strong>Hairstyle:</strong> <%= request.service.name %></p>
          <p> <strong>Details:</strong> <%= request.description %></p>
          <p> <strong>Budget Range:</strong> <%= request.budget %></p>
          <p> <strong>City:</strong> <%= request.city.city %></p>


        <% unless current_user.has_role? :def_stylist %>
          <div class = "btn-group">
            <%= button_to("Edit", edit_request_path(request), method: :get, class: "btn btn-sm m-1") %>
            <%= button_to("Delete", request_path(request), method: :delete, class: "btn btn-sm m-1") %>
          </div>
          <div class = 'text-center'>
            <p><strong>You have <%= pluralize(request.responses.count, 'response')%></strong></p>
            <% if request.responses.count > 0 %>
              <%= link_to("View Responses", responses_path(:request_id => request.id), method: :get, class: "btn btn-sm m-1") %>
            <% end %>
          </div>
        <% end %>

        <% unless current_user.has_role? :def_client %>

            <% if request.responses.find{|r| r[:stylist_id] == current_user.id} %>
              <div class = "m-3 text-center">
                <p> You have responded to this request</p>
                <%= link_to("View Your Response", response_path(request.responses.find{|r| r[:stylist_id] == current_user.id}), method: :get, class: "btn btn-sm") %>
              </div>
            <% else %>
                <div class = "m-3 text-center">
                  <%= link_to("Respond to Request", new_response_path(:request_id => request.id), method: :get, class: "btn btn-sm") %>
                </div>
            <% end %>
          <% end %>

      <!-- </div> media body-->
    </div><!-- col -->




    </div><!-- row -->
</div>
