<table>

  <tr>
    <th>Stylist</th>
    <td><%= f.text_field(:stylist_id) %></td>
  </tr>

  <tr>
    <th>Client</th>
    <td><%= f.text_field(:client_id) %></td>
  </tr>

  <tr>
    <th>Date of Appointment</th>
    <td><%= f.date_select(:date_of_appointment) %></td>
  </tr>

  <tr>
    <th>Hairstyle</th>
    <td><%= f.select(:style_id, @style.map{|s| [s.style_name, s.id]}) %></td>
  </tr>

    <tr>
      <th>Rating 1</th>
          <td>
            <%= f.radio_button(:rating_1, 1) %>1
            <%= f.radio_button(:rating_1, 2) %>2
            <%= f.radio_button(:rating_1, 3) %>3
            <%= f.radio_button(:rating_1, 4) %>4
            <%= f.radio_button(:rating_1, 5) %>5
        </td>
    </tr>
  <tr>
    <th>Rating 2</th>
        <td>
          <%= f.radio_button(:rating_2, 1) %>1
          <%= f.radio_button(:rating_2, 2) %>2
          <%= f.radio_button(:rating_2, 3) %>3
          <%= f.radio_button(:rating_2, 4) %>4
          <%= f.radio_button(:rating_2, 5) %>5
      </td>
  </tr>
  <tr>
    <th>Rating 3</th>
      <td>
        <%= f.radio_button(:rating_3, 1) %>1
        <%= f.radio_button(:rating_3, 2) %>2
        <%= f.radio_button(:rating_3, 3) %>3
        <%= f.radio_button(:rating_3, 4) %>4
        <%= f.radio_button(:rating_3, 5) %>5
    </td>
  </tr>
  <tr>
    <th>Rating 4</th>
    <td>
      <%= f.radio_button(:rating_4, 1) %>1
      <%= f.radio_button(:rating_4, 2) %>2
      <%= f.radio_button(:rating_4, 3) %>3
      <%= f.radio_button(:rating_4, 4) %>4
      <%= f.radio_button(:rating_4, 5) %>5
    </td>
  </tr>
  <tr>
    <th>Rating 5</th>
    <td>
      <%= f.radio_button(:rating_5, 1) %>1
      <%= f.radio_button(:rating_5, 2) %>2
      <%= f.radio_button(:rating_5, 3) %>3
      <%= f.radio_button(:rating_5, 4) %>4
      <%= f.radio_button(:rating_5, 5) %>5
  </td>
  </tr>


  <tr>
    <th>Will you returning?</th>
    <td><%= f.radio_button(:return, 1) %>Yes <%= f.radio_button(:return, 0) %>No </td>

  </tr>
  <tr>
    <th>Would you recommend the Stylist?</th>
    <td> <%= f.radio_button(:recommend, 1) %>Yes <%= f.radio_button(:recommend, 0) %>No</td>
  </tr>
  <tr>
    <th>Tell us more about your experience</th>
    <td><%= f.text_area(:Comment) %></td>
  </tr>
</table>
