<table class = "table table-striped table-sm">

  <tr>
    <th>Stylist</th>
    <td><%= Stylist.find(@rating.stylist_id).name %></td>
  </tr>

  <tr>
    <th>Date of Appointment</th>
    <td><%= @rating.date_of_appointment.strftime("%d %B %Y") %></td>
  </tr>

  <tr>
    <th>Hairstyle</th>
    <td><%=  %> </td>
  </tr>

  <tr>
    <th>Rating Criterion 1</th>
    <td><%= @rating.rating_1 %>/5</td>
  </tr>

  <tr>
    <th>Rating Criterion 2</th>
    <td><%= @rating.rating_2 %>/5</td>
  </tr>

  <tr>
    <th>Rating Criterion 3</th>
    <td><%= @rating.rating_3 %>/5</td>
  </tr>

  <tr>
    <th>Rating Criterion 4</th>
    <td><%= @rating.rating_4 %>/5</td>
  </tr>

  <tr>
    <th>Rating Criterion 5</th>
    <td><%= @rating.rating_5 %>/5</td>
  </tr>

  <tr>
    <th>Will You Return?: </th>
    <td><%= @rating.return ? 'Yes' : 'No' %></td>
  </tr>

  <tr>
    <th>Would You Recommend: </th>
    <td><%= @rating.recommend ? 'Yes' : 'No' %></td>
  </tr>

  <tr>
    <th>Comments:</th>
    <td><%= @rating.Comment %></td>
  </tr>

</table>
