<div class = 'container'>

<div class = 'row' style = 'margin-top:5px;'>
  <div class = 'col col-md-6 text-center'>
  <% if current_user.has_role? :def_admin %>
    <%= link_to("<< Back Reviews", ratings_path(:admin_id => current_user.id)) %>
  <% elsif current_user.has_role? :def_client %>
    <%= link_to("<< Back to Stylist", stylist_path(@rating.stylist.id, :client_id => current_user.id)) %>
  <% elsif current_user.has_role? :def_stylist %>
    <%= link_to("<< Back to Stylist", stylist_path(@rating.stylist.id, :stylist_id => current_user.id)) %>
  <% end %>
  </div>
  <div class = 'col col-md-6 text-center'>
    <% if (current_user.has_role? :def_client) && (current_user.id == @rating.client.id) %>
      <%= button_to "Edit My Rating", edit_rating_path(@rating), method: :get, class: "btn btn-h1 btn-sm" %>
    <% end %>
  </div>
</div>
<div class = 'text-center'>
  <h2>Review Details</h2>
</div>

  <table class = "table table-hover table-sm text-center">

    <tr>
      <th>Reviewed by:</th>
      <td><%= @client.username %></td>
    </tr>

    <tr>
      <th>Stylist:</th>
      <td><%= @stylist.username %></td>
    </tr>

    <tr>
      <th>Date of Appointment:</th>
      <td><%= @rating.date_of_appointment.strftime("%d %B %Y") %></td>
    </tr>

    <tr>
      <th>I got value for my money:</th>
      <td><%= @rating.rating_1 %>/5.0</td>
    </tr>

    <tr>
      <th>The venue was clean and hygienic:</th>
      <td><%= @rating.rating_2 %>/5.0</td>
    </tr>

    <tr>
      <th>My needs and expectations were met:</th>
      <td><%= @rating.rating_3 %>/5.0</td>
    </tr>

    <tr>
      <th>Acted in a professional manner:</th>
      <td><%= @rating.rating_4 %>/5.0</td>
    </tr>

    <tr>
      <th>Was gentle when handling my hair:</th>
      <td><%= @rating.rating_5 %>/5.0</td>
    </tr>

    <tr>
      <th>Will You Return To <%= @stylist.username %>?: </th>
      <td><%= @rating.return ? 'Yes' : 'No' %></td>
    </tr>

    <tr>
      <th>Would You Recommend <%= @stylist.username %> to a friend?: </th>
      <td><%= @rating.recommend ? 'Yes' : 'No' %></td>
    </tr>

    <tr>
      <th>My Experience with <%= @stylist.username %>:</th>
      <td><%= @rating.Comment %></td>
    </tr>
  </table>

  <div class = 'row'>
    <div class = 'col text-center'>
    <% if current_user.has_role? :def_admin %>
      <%= link_to("Edit", '#') %>,
      <%= link_to("Delete", '#') %>
    <% elsif current_user.id == @client.id %>
    <div class = 'btn-group text-center'>
        <%= button_to "Delete My Rating", delete_rating_path(@rating), method: :get, class: "btn btn-danger btn-sm" %>
    </div>
    <% end %>
      </div>
  </div>

</div>
