<div class = "container">
  
  <div class = "m-3">
    <%= button_to("<< Back to Requests", requests_path, method: :get, class: "btn btn-sm") %>
  </div>

  <div>
      <%= render(:partial => 'requests/show_request', :hmtl => {:multiport => true}, :locals => {:request => @request}) %>
  </div><!-- m-3 -->
  <hr style = 'color:red;'>

    <div>
      <h3>Your Response</h3>
        <p><%= @response.stylist.username %>: <%= @response.message %><p>
          <div class = "btn-group text-center">
              <%= link_to("Edit Response", edit_response_path(@response, :request_id => @request.id), method: :get, class: "btn btn-sm m-1") %>
              <%= link_to("Delete Response", response_path(@response), method: :delete, class: "btn btn-sm m-1") %>
          </div>
    </div><!-- text-center -->
</div><!-- container -->
