<div class = "text-center">
  <h3>Profile Status</h3>
</div>

<% if ((current_user.has_role? :def_stylist) && (current_user.id == @stylist.id)) || (current_user.has_role? :def_admin) %>
  <div class = "row text-center">
    <div class = "col col-sm-2">
      <p><%=link_to "Profile Picture:", edit_stylist_path(current_user.id), style: "color:black;"%>
      <%= status_tag(@bool_profile) %><p>
    </div>

    <div class = "col col-sm-2">
      <p><%=link_to "Your City/Area:", edit_stylist_path(current_user.id), style: "color:black;"%>
      <%= status_tag(@bool_city) %></p>
    </div>

    <div class = "col col-sm-2">
      <p><%=link_to "Your Services:", edit_stylist_path(current_user.id), style: "color:black;"%>
      <%= status_tag(@bool_services) %></p>
    </div>

    <div class = "col col-sm-2">
      <p><%=link_to "My Best Hairstyles", hairstyle_offerings_path(:stylist_id => @stylist.id), style: "color:black;"%>
      <%= status_tag(@bool_contact) %></p>
    </div>

    <div class = "col col-sm-2">
      <p><%=link_to "Portfolio:", new_portfolio_path(:stylist_id => @stylist.id), style: "color:black;"%>
      <%= status_tag(@bool_portfolio) %></p>
    </div>

  </div>

  <div>
    <% if @profile_complete == true %>
      <%= button_to "Edit Your Profile", edit_stylist_path(current_user.id), method: :get, class: "btn btn-gold btn-block", style: "font-weight:bold;"%>
    <% else %>
      <%= button_to "Complete Your Profile", edit_stylist_path(current_user.id), method: :get, class: "btn btn-gold btn-block", style: "font-weight:bold;"%>
    <% end %>



  </div>
    <hr>
<% end %>
