      <div class = 'card-header'>
        <h5 class = 'card-title'><%= stylist.username %></h5>

      <% if current_user.has_role? :def_admin %>
        <p> Stylist ID:<%= stylist.id%></p>
        <p> User ID:<%= stylist.user.id%></p>
      <% end %>

      </div>

      <div class="img-thumbnail rounded card-img">
        <%= image_tag stylist.avatar.url(:thumb).to_s, :style => "width:150px;"%>
      </div>

      <p class = 'card-text'> <strong> Rating:</strong> <%=  stylist.overall_rating %> (<%= pluralize(stylist.ratings.count, 'Review') %>) <br />
       <strong>City:</strong>
       <% stylist.cities.each do |c|  %>
       <%= c.city %>
        <% end %>
      </p>
