<h5>Quick Search</h5>

<div class="form-group">
  <h6>Search By Name:</h6>
    <%= form_tag(redirect_search('#'), method: :get, :id => "stylist_search") do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <%= submit_tag 'Search', :name => nil, class: 'btn btn-secondary mt-2' %>
    <% end %>
</div><hr>

<div class = "form group">
  <h6>Sort by:</h6>
    <p style = "font-size:15px;"><%= link_to sortable "overall_rating", "Rating" %></p>
</div><hr><!--form group-->

<div class = "form group">
  <h6>Search by City:</h6>
    <p style = "font-size:15px;"><%= link_to "All Cities", redirect_search('#') %> (<%= @stylist_all.count%>)<p>
    <% @cities.uniq.each do |c| %>
            <p style = "font-size:15px;"><%= link_to c, redirect_search(:place => c) %> (<%= @cities.count(c)%>)</p>
    <% end %>
</div><!--form group-->

<div class = "form group">
  <h6>Search by Area:</h6>
    <p style = "font-size:15px;"><%= link_to "All Areas", redirect_search('#') %> (<%= @stylist_all.count%>)<p>
    <% @area.uniq.each do |a| %>
          <p style = "font-size:15px;"><%= link_to a, redirect_search(:sub_place => a) %> (<%= @area.count(a)%>)</p>
    <% end %>
</div><!--form group-->
