
  <div class = "row background_stylist">
    <div class = "col-sm-4 offset-sm-2 text-center" style = "padding: 3px;">
      <%= image_tag stylist.avatar.url(:thumb).to_s, class: "img-thumbnail rounded  w-1" %>
    </div><!--col-sm-4-->

    <div class = "col-sm-4 text-center mt-3" style = "color: white">
      <h5 class = "mt-2"><%= @stylist.username%></h5>

      <p><% stylist.cities.each do |c|%>
      <%= c.city %>
      <% end %>

      <% stylist.areas.each do |a| %>
        (<%= a.name %>)
        <% end %><br /></p>

      <p class = "badge badge-primary badge-pill bg-warning " style = "color:black;"><%= stylist.overall_rating %> </p> (<%= pluralize(stylist.ratings.count, 'Review') %>)
      <p>Likes: <%= stylist.clients.count %></p>


      <% if (current_user.has_role? :def_stylist) && (current_user.id == @stylist.id) %>
        <%= link_to conversations_path, class: 'm-2',  style: 'color:#D4AF37; font-weight: bold;' do %>Inbox <i class="glyphicon glyphicon-envelope"></i><% end %>

      <% end %>

      <% unless (current_user.has_role? :def_stylist) && (current_user.id == @stylist.id) %>
        <%= link_to new_personal_message_path(receiver_id: @stylist.user), class: 'm-2',  style: 'color:#D4AF37; font-weight: bold;' do %> Send Message <i class="glyphicon glyphicon-envelope"></i><% end %>
      <% end %>

        <% if current_user.has_role? :def_client %>
          <%= link_to new_rating_path(:client_id => current_user.id, :stylist_id => @stylist.id), class: 'm-2',  style: 'color:#D4AF37; font-weight: bold;' do %>Submit Review  <i class="glyphicon glyphicon-star"></i><% end %>
          <%= link_to '#', class: 'm-2',  style: 'color:#D4AF37; font-weight: bold;' do %>Book Appointment <i class="glyphicon glyphicon-book"></i><% end %>
        <% end %>


    </div><!--col-sm-8-->
  </div><!--row-->

<% if current_user.has_role? :def_client %>
  <div class = "row">

    <%= button_to create_fav_stylists_client_path(current_user, :stylist_id => @stylist.id), class: "btn btn-sm like m-2" do %>
      <i class = "glyphicon glyphicon-thumbs-up"></i> Like
    <% end %>

      <%= button_to destroy_fav_stylists_client_path(current_user, :stylist_id => @stylist.id), method: :delete, class: "btn btn-sm unlike m-2", style: "display: inline-block;" do %>
        <i class = "glyphicon glyphicon-thumbs-down"></i> Unlike
      <% end %>
    </div>
<% end %>
<hr>

  <!-- Edit or Complete Your Profile -->

  <div>
    <%= render(:partial => 'complete_your_profile', :html => {:multiport => true})%>
  </div>

                                                                  <!-- Hairstyles I Offer -->

  <div id = "about_me" class = "stylist_info" style ="display:block;">
    <h4 class = "text-center">Hairstyles I Offer</h4>
    <p class = "text-center" style = "font-style: italic;"><span style = "color:#D4AF37;"><i class = "glyphicon glyphicon-star"></i></span> = I'm a master at this</p>



          <% @cat.each do |c| %>
            <p><strong><%= c %>: </strong>
              <% stylist.hairstyles.where(:category => c).each do |h| %>
                 <%= h.name %>
                 <span><% if stylist.hairstyle_offerings.where(:hairstyle => h).first.top_style%><span style = "color:#D4AF37;"><i class = "glyphicon glyphicon-star"></i></span><% end %></span> |
                <% end %>
            </p>
          <% end %>

          <div class = "row mt-2">
            <div class = "col-md-2"><strong>More About Me:</strong></div>
              <div class = "col-md-10 ">
                <blockquote><%= stylist.about_me %></blockquote>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-xs-6">
              <%= button_to "Edit Hairstyles", edit_stylist_path(stylist), :method => :get, :class => "btn btn-block"%>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-6 ml-2">
                <%= button_to "Select Best Hairstyles", hairstyle_offerings_path, :method => :get, :class => "btn btn-block"%>
              </div>

            </div>

          </div>
    </div>
    <hr>

                                                                  <!-- Hairstyles I Offer -->

                                                                  <!-- Contact Me Section -->

      <div id = "contact_me" class = "stylist_info" style ="display:block;">
          <h4 class = "text-center">Contact Me</h4><hr>
      <table>
        <tr>
          <th>Salon Name:</th>
          <td><%= stylist.salon %></td>
        </tr>
          <tr>
            <th>Phone:</th>
            <td><%= stylist.phone %></td>
          </tr>
          <tr>
            <th>Email:</th>
            <td><%= stylist.email %></td>
          </tr>
          <tr>
            <th>Facebook Page:</th>
            <td><%=link_to stylist.facebook_link, url_for(stylist.facebook_link), target: "_blank" %></td>
          </tr>
          <tr>
            <th>Instagram Page:</th>
            <td><%= link_to stylist.instagram_link, url_for(stylist.instagram_link), target: "_blank" %></td>
          </tr>
          <tr>
            <th>House Calls:</th>
            <td><%= stylist.house_calls ? 'Yes' : 'No' %></td>
          </tr>
        </table>
  </div>


                                                                  <!-- Portfolio Secion -->

  <div id = "stylist_portfolio" class = "stylist_info" style ="display:block;">
    <h4 class = "text-center">My Porfolio</h4><hr>

    <% if (current_user.has_role? :def_stylist) && (current_user.id == @stylist.id)%>

      <div>
          <% if @portfolio.count < 8 %>
            <%= button_to(" + Add Item", new_portfolio_path(:stylist_id => @stylist.id), method: :get, class: "btn btn-hl btn-sm text-center mb-3")%>
          <% end %>
      </div>

        <% if @portfolio.count < 1 %>
          <%= render(:partial => 'portfolio_eg', :html => {:multiport => true})%>
        <% else %>
          <%= '#'%>
        <% end %>

        <% else %>
          <%= render(:partial => 'show_portfolio', :html => {:multiport => true})%>
        <% end %>

    <div>
      <% if (current_user.has_role? :def_stylist) && (current_user.id == @stylist.id) %>
        <% if @portfolio.count < 8 %>
          <%= button_to(" + Add Item to Portfolio", new_portfolio_path(:stylist_id => @stylist.id), method: :get, class: "btn btn-block text-center mb-3")%>
        <% end %>
      <% end %>
    </div>
  </div><!--stylist portfolio-->

                                                                  <!-- End of Portfolio Section -->

                                                                  <!-- Reviews Secion -->
<div id = "stylist_review" class = "stylist_info" style ="display:block; ">
  <h4 class = "text-center">My Reviews</h4><hr>
    <% if @rating.count < 1 %>
      <% if (current_user.has_role? :def_stylist) && (current_user.id == @stylist.id) %>
      <div class="jumbotron text-center p-3">
        <h1 class="display-4">View Your Reviews</h1>
        <p class="lead">Your reviews and ratings submitted by your clients will appear here. The higher your ratings, the more you stand out.</p>
        <hr class="my-4">
        <p>You currently have no reviews.</p>
      </div>
    <% end %>

    <% else %>

          <% @rating.each do |rating| %>
            <%= render(:partial => 'ratings/index_stylist_ratings', :html => {:multiport => true}, :locals => {:rating => rating} ) %>
              <div class = "text-center">
                <%= link_to("View Complete Review", rating_path(rating, :stylist_id => rating.stylist.id, :client_id => rating.client.id))%> <!--view this particular rating -->
              </div>
            <hr>
          <% end %>
      </div>

    <% end %>

    <hr>
