<div class = "register_form">
  <fieldset>
    <legend>Bio Info</legend>

    <div class ='form-group'>
      <label class = 'form-control-label'>Load Profile Picture:</label>
       <%= s.file_field(:avatar) %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Username:</label>
      <%= s.text_field :username, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Name:</label>
      <%= s.text_field :name, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Surname:</label>
      <%= s.text_field :surname, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Email:</label>
      <%= s.text_field :email, class: 'form-control' %>
    </div>

    <div id  = "stylist_city" class ='form-group'>
      <label class = 'form-control-label'>City:</label>
          <%= s.collection_select :city_ids, City.all, :id, :city, :prompt => true, :include_blank => true, class: 'form-control' %>
    </div>

    <div id = "stylist_area" class ='form-group'>
      <label class = 'form-control-label'>Suburb:</label>
          <%= s.grouped_collection_select :area_ids, City.all, :areas, :city, :id, :name, :prompt => true, :include_blank => true, class: 'form-control' %>
    </div>

  </fieldset>

  <fieldset>
    <legend>My Hairstyles</legend>

    <div class ='form-group'>
      <label class = 'form-control-label'>I Offer The Following <strong>Hairstyles</strong>:</label>
        <div class = " bg-light p-2">

          <% @category.each do |c| %>
            <p><strong><%= c %>:</strong><%= s.collection_check_boxes :hairstyle_ids, Hairstyle.where(:category => c), :id, :name do |h|%>
            <span style = "margin_right:2px;">| <%= h.check_box %></span> <%= h.label %>
            <% end %></p>
          <% end %>

      </div>
    </div>


    <div class ='form-group'>
      <label class = 'form-control-label'>I do House Calls:</label>
        <%= s.check_box :house_calls %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>More About Me (And Other Services):</label>
      <%= s.text_area :about_me, placeholder: "Anything else that you want us to know about you", class: 'form-control' %>
    </div>



    <hr>
  </fieldset>

  <fieldset>
    <legend>Contacts</legend>

    <div class ='form-group'>
      <label class = 'form-control-label'>Salon Name:</label>
        <%= s.text_field :salon, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Cellphone:</label>
        <%= s.text_field :phone, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Facebook:</label>
        <%= s.text_field :facebook_link, class: 'form-control' %>
    </div>

    <div class ='form-group'>
      <label class = 'form-control-label'>Instagram:</label>
        <%= s.text_field :instagram_link, class: 'form-control' %>
    </div>

  </fieldset>

</div>
