<div class = 'container'>
  <div>
    <%= button_to("<< Return", root_path, method: :get, class: 'btn btn-secondary btn-sm m-3') %>
  </div>

  <div>
    <%= form_for(@stylist) do |s| %>
      <%= error_messages_for(s.object) %>
      <form>
        <%= render(:partial => 'stylist_register', :html => {:multiport => true}, :locals => {:s => s}) %>

         <div class = 'text-center m-3'>
           <%= s.submit("Create Profile", class: 'btn btn-dark') %>
         </div>

      </form>
    <% end %>
  </div>
</div>
