<div class = "container">

    <div class = "text-center">
      <h3>Log in as a Stylist</h3>
    </div>

    <%= form_tag(stylist_access_stylist_attempt_login_path, :method => :post, class: " form form-group text-center") do %>
      <fieldset>
        <div class = "form-group">
          <%= label_tag(:email) %>
          <%= text_field_tag(:email, params[:email]) %>
        </div>

        <div class = "form-group">
          <%= label_tag(:password) %>
          <%= password_field_tag(:password)%>
        </div>

        <div class = "form-group">
          <%= submit_tag("Log In", class: "btn btn-hl")%>
        </div>

        <div class = "form-group">
          <%= link_to("Forgot Password", "#") %><br />
          <%= link_to("<< Return", root_path) %>
        </div>

      </fieldset>
    <% end %>

</div>
