<div class = "container">
<h2>City Names</h2>
<%= button_to("Create All Cities", create_all_cities_path, class: "btn btn-danger btn-sm")%><br>
<%= button_to("Add A City", new_city_path, method: :get, class: "btn btn-sm")%>



  <table class = 'table table-hover'>

    <tr>
      <th>City</th>
      <th>Action </th>
    </tr>

    <% @city.each do |c| %>
    <tr>
      <td><%= c.city %></td>

      <td>
          <%= link_to("Edit", edit_city_path(c))%>
          <%= link_to("Delete", city_path(c), method: :delete)%>
      </td>
    </tr>
    <% end %>
  </table>

</div><!--container-->
