
  <div id="edit_stylist_hairstyle_details">

    <fieldset>
      <legend class = "text-center">Hairstyles</legend>

      <div class ='form-group'>
        <label class = 'form-control-label'>I Offer The Following <strong>Hairstyles</strong>:</label>
          <div class = " bg-light p-2">
            <% @category.each do |c| %>
              <p><strong><%= c %>:</strong><%= s.collection_check_boxes :hairstyle_ids, Hairstyle.where(:category => c), :id, :name do |h|%>
              <span style = "margin_right:2px;">| <%= h.check_box %></span> <%= h.label %>
              <% end %></p>
            <% end %>
        </div>
      </div>

      <div class ='form-group'>
        <label class = 'form-control-label'>More About Me (And Other Services):</label>
        <%= s.text_area :about_me, placeholder: "Anything else that you want us to know about you", class: 'form-control' %>
      </div>
    </fieldset>
    <div class = "text-center mb-2"><%= s.submit 'Update My Profile', class: 'btn btn-hl btn-sm'  %></div>

  </div>
    <hr>
