
    <nav class="navbar navbar-light nav-menu navbar-expand-sm sticky-top bg-light">
          <div class="container">
            <div class = 'navbar-brand'><img src="/assets/Hairlinkd-Logo.png" style = "width: 80px;" alt ="hairlinkd logo"/><span class = "hairlinkd_logo">Hairlinkd</div>

            <button class = 'navbar-toggler' type = 'button' data-toggle = 'collapse'
              data-target = '#clientToggler' aria-controls="clientToggler"
              aria-expanded ='false' aria-label="Toggle navigation">
              <span class = 'navbar-toggler-icon'></span>
            </button>

              <div class = 'collapse navbar-collapse' id = 'clientToggler'>
                <div class="nav navbar-nav ml-auto">
                    <%= link_to("My Profile", client_path(current_user.id), class: 'nav-item nav-link') %>
                    <%= link_to("Stylists", index_stylists_clients_path, class: 'nav-item nav-link')%>
                    <%= link_to("Gallery", index_styles_clients_path, class: 'nav-item nav-link') %>

                    <%= link_to("Forum", '#', class: 'nav-item nav-link') %>
                    <%= link_to("Contact Us", '#', class: 'nav-item nav-link') %>
                    <%= link_to("Logout", client_access_logout_path, class: 'nav-item nav-link') %>
                </div><!--navbar-nav-->
              </div><!--collapse-->
          </div><!--container-->
    </nav>
