

    <nav class="navbar navbar-light nav-menu navbar-expand-sm sticky-top bg-light">
      <div class="container">
            <div class = 'navbar-brand'><img src="/assets/Hairlinkd-Logo.png" style = "width: 80px;" alt ="hairlinkd logo"/><span class = "hairlinkd_logo">Hairlinkd</div>

        <button class = 'navbar-toggler' type = 'button' data-toggle = 'collapse'
          data-target = '#stylistToggler' aria-controls="stylistToggler"
          aria-expanded ='false' aria-label="Toggle navigation">
          <span class = 'navbar-toggler-icon'></span>
        </button>

        <div class = 'collapse navbar-collapse' id = 'stylistToggler'>
          <ul class="nav navbar-nav ml-auto">

          <li class = "nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile</a>

            <ul class = 'dropdown-menu' aria-labelledby = "navbarDropdown">
              <li><%= link_to("View Profile", stylist_path(current_user.id), class: "dropdown-item") %></li>
              <li><%= link_to("Edit Profile", edit_stylist_path(current_user.id), class: "dropdown-item") %></li>
              <!-- <li><%= link_to("Change Password", stylist_access_password_form_path, class: "dropdown-item") %></li> -->
            </ul><!-- dropdown-menu -->
          </li><!-- nav-item -->

            <li><%= link_to("Stylists", stylists_path(:stylist_id == current_user.id), class: "nav-item nav-link") %></li>
            <li><%= link_to("Forum", '#', class: "nav-item nav-link") %></li>
            <li><%= link_to("Contact Us", '#', class: "nav-item nav-link") %></li>
            <li><%= link_to("Logout", stylist_access_stylist_logout_path, class: "nav-item nav-link") %></li>

          </ul><!--nav---->
          </div><!--collapse---->
        </div><!--container-->
      </nav>
