<!DOCTYPE html>
<html>

<head>
  <title>Hairlinkd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', href="http://fonts.googleapis.com/css?family=Lato|Bad+Script", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('HL_favicon.png'), :rel => 'icon', :type =>  'image/png' %>


</head>

  <body>

        <% if  session[:stylist_id] %>
          <%= render 'layouts/stylist_menu'%>
        <% elsif session[:client_id] %>
          <%= render 'layouts/client_menu'%>
        <% elsif session[:admin_id] %>
          <%= render 'layouts/admin'%>
        <% end %>

        <% if !flash[:notice].blank? %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>

    <%= yield %>
  </body>


</html>
