<!DOCTYPE html>
<html>
<head>
  <title>Hairlinkd</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', href="http://fonts.googleapis.com/css?family=Lato|Bad+Script", media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('HL_favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '292286184865618');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=292286184865618&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>

  <body>

    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>



    <nav class="navbar navbar-light nav-menu navbar-expand-md sticky-top bg-light">
      <div class="container">
        <div class = "navbar-brand"><img src="/assets/Logo_Side.png" style = "width: 250px;" alt ="hairlinkd logo"/></div>

        <button class = 'navbar-toggler' id = 'collapse_btn' type = 'button' data-toggle = 'collapse'
          data-target = '#homeToggler' aria-controls="homeToggler"
          aria-expanded ='false' aria-label="Toggle navigation">
          <span class = 'navbar-toggler-icon'></span>
        </button>

          <div class = 'collapse navbar-collapse justify-content-end' id = 'homeToggler'>
            <div class="nav navbar-nav ">
              <%= link_to("Client Login", client_access_login_path, class: "nav-item nav-link") %>
              <%= link_to("Stylist Login", stylist_access_stylist_login_path, class: "nav-item nav-link") %>
              <%= link_to("Register as Client", new_client_path, class: "nav-item nav-link", id: "client_register_link_one") %>
              <%= link_to("Register as Stylist", new_stylist_path, class: "nav-item nav-link", id: "stylist_register_link_one") %>

            </div><!--nav navbar-->

          </div>
          <!-- <div class="nav navbar-nav"><img src="/assets/web-deco/SA_flag.png" style = "width: 50px;" alt ="hairlinkd logo"/></div> -->
        </div><!--container-->
      </nav>

      <%= yield %>

  </body>

  <footer>
    <div class = "text-center" style "background-color:grey;">
      &copy; 2018 Hairlinkd (Pty) Ltd. All Rights Reserved. <span><img style='width:25px;' src = "/assets/web-deco/SA_flag.png"/></span>
    </div>
  </footer>

</html>
