<!DOCTYPE html>
<html>
<head>
  <title>Hairlinkd</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', href="http://fonts.googleapis.com/css?family=Lato|Bad+Script", media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('HL_favicon.png'), :rel => 'icon', :type =>  'image/png' %>
</head>

  <body>

    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <header class="text-center">
      <img src="/assets/Hairlinkd-Logo.png" alt ="hairlinkd logo"/>
    </header>


      <%= yield %>

  </body>

</html>
