<!DOCTYPE html>
<html>

<head>
  <title>Hairlinkd</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', href="http://fonts.googleapis.com/css?family=Lato|Bad+Script", media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('HL_favicon.png'), :rel => 'icon', :type =>  'image/png' %>
</head>

  <body>

    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <nav class="navbar navbar-light nav-menu navbar-expand-sm sticky-top bg-light">
      <div class="container">
            <div class = 'navbar-brand'><img src="/assets/Hairlinkd-Logo.png" style = "width: 80px;" alt ="hairlinkd logo"/><span class = "hairlinkd_logo">Hairlinkd</div>

        <button class = 'navbar-toggler' type = 'button' data-toggle = 'collapse'
          data-target = '#stylistToggler' aria-controls="stylistToggler"
          aria-expanded ='false' aria-label="Toggle navigation">
          <span class = 'navbar-toggler-icon'></span>
        </button>

        <div class = 'collapse navbar-collapse' id = 'stylistToggler'>
          <div class="nav navbar-nav ml-auto">

            <%= link_to("My Profile", stylist_path(current_user.id), class: "nav-item nav-link") %>
            <%= link_to("Stylists", stylists_path(:stylist_id == current_user.id), class: "nav-item nav-link") %>
            <%= link_to("Forum", '#', class: "nav-item nav-link") %>
            <%= link_to("Contact Us", '#', class: "nav-item nav-link") %>
            <%= link_to("Logout", stylist_access_stylist_logout_path, class: "nav-item nav-link") %>


            </div><!--nav---->
          </div><!--collapse---->
        </div><!--container-->
      </nav>

      <%= yield %>

  </body>

</html>
